.posterContainer {
    max-height: 90vh;
    position: absolute;
    top : 0;
    left : 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    width : 100vw;
    height : 140vh;
    opacity: 0.7;
    background: center cover no-repeat;
}

.posterInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : white;
    min-height: 40vh;
    margin : auto 0 ;
    font-size : 4vh;
    position: absolute;
}

.posterInfo h1 {
    font-size : 10vh;
}

.posterInfo button {
    padding : 1rem;
    width : 24rem;
    outline: none;
    font-size : 3rem;
    font-weight: 800;
    background: none;
    cursor: pointer;
    transition: all ease-in 200ms;
    border : 3px solid red;
    transform : skew(-15deg);
}

.posterInfo button:hover {
    transform: scale(1.1);
}
