.searchBox {
    display: flex;
    align-items: center;
}

.searchBox input {
    width : 80vw;
    height: 2rem;
    border : 2px solid red;
    border-radius: 1rem;
    outline: none;
    padding : 10px;
    font-size : 1rem;
    margin-right: 0.4rem;
}

.searchBox button {
    min-width: 6rem;
    min-height : 3.5rem;
    font-size: 1.5rem;
    border : 2px solid red;
    border-radius: 1rem;
    padding : 0.3rem;
    background: none;
    transition: all 600ms;
}

.searchBox button:hover {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background: red;
    color : white;
    cursor: pointer;
    transform :translateX(15px);
}